---

---

<article class="flex flex-col md:flex-col xl:flex-row items-center gap-[32px]">
    <img
        src="/img/AboutImg.jpg"
        alt=""
        class="h-[350px] w-[50%] rounded-md object-cover"
      />  
    <section class="flex flex-col justify-center gap-[16px] w-[100%]">
      <h1 class="text-[32px] md:text-[40px] xl:text-[64px] text-center xl:text-left font-bold leading-none">
        Sobre nosotros
      </h1>
      <p class="text-[24px] md:text-[26px] xl:text-[24px] text-center xl:text-left leading-tight">
        Somos un semillero de investigación de la Institución Educativa Distrital Técnica Bilingüe Jorge Nicolás Abello, apasionados por la sostenibilidad y comprometidos con la formación de investigadores competentes y con impacto social.
      </p>
    </section>
  </article>
  