---
import enterprises from "../../../info/enterprises";
---

<article class="flex flex-col items-center gap-[32px]">
  <h2 class="text-[32px] md:text-[40px] xl:text-[64px] text-center font-bold">Empresas aliadas</h2>
  <ul class="flex flex-col md:flex-col xl:flex-row gap-[32px]">
    {
      enterprises.map((info) => {
        return (
          <li>
            <a href={info.url} class="flex justify-center align-center">
              <img src={info.photo} alt="" class="h-[64px]" />
            </a>
          </li>
        );
      })
    }
  </ul>
</article>
