---

---

<article class="flex flex-col md:flex-col xl:flex-row items-center gap-[32px]">
    <img
        src="/img/AboutImg.jpg"
        alt=""
        class="h-[350px] w-[50%] rounded-md object-cover"
      />  
    <section class="flex flex-col justify-center gap-[16px] w-[100%]">
      <h1 class="text-[32px] md:text-[40px] xl:text-[64px] text-center xl:text-left font-bold leading-none">
        Sobre nosotros
      </h1>
      <p class="text-[24px] md:text-[26px] xl:text-[24px] text-center xl:text-left leading-tight"> 
        En Rise buscamos mejorar la calidad de vida actual mediante la tecnologia sostenible, apoyamos el ingenio y creativa de nuestros estudiantes aputando a un futuro mejor.
      </p>
      <ul class="flex gap-[8px] items-center justify-center xl:justify-start">
        <li>
          <a
            href="/about"
            class="flex items-center justify-center bg-[#c7ddb5] text-black py-2 px-4 rounded-3xl"
            >Conoce mas
          </a>
        </li>
      </ul>
    </section>
  </article>
  